@import "../node_modules/nord/src/sass/nord.scss";
@import '@mantine/core/styles.css';
@import 'mantine-react-table/styles.css';
:root{

}
body {
  width: 50em;
  font-family: "Noto Sans", serif;
}
#no-rows{
  text-align: center;
}
#download{
  margin: 10px;
}
#refresh,#download{
  font-family: "Noto Sans", serif;
  font-weight: bold;
  //color: $nord8;
  //border-color: $nord8;
}